<!--
  ======
  Contact Us
  ======
-->

  <div class="contact-us">
    <a href="#">CONTACT US!</a>
    <div class="contact-us-group">
      <h5>OUR MISSION</h5>
      <br>
      <a href="#">Click HERE!</a>
    </div>
    <div class="contact-us-group">
      <h5>JOIN OUR TEAM!</h5>
      <br>
      <a href="#">team@magicmirror.dev</a>
    </div>
    <div class="contact-us-group contact-us-social">
      <h5>FOLLOW THE M|M DEVS STORY!</h5>
      <div class="">
        <a href="#"><img src="../assets/icons/Facebook.png" alt="Facebook"></a>
        <a href="#"><img src="../assets/icons/Instagram.png" alt="Instagram"></a>
        <a href="#"><img src="../assets/icons/Linkedin.png" alt="LinkedIn"></a>
        <a href="#"><img src="../assets/icons/Pinterest.png" alt="Twitter"></a>
        <a href="#"><img src="../assets/icons/Twitter.png" alt="Pinterest"></a>
      </div>
    </div>

  </div>
