<div class="home">

  <div class="hero-section">
    <div class="hero-text">
      <h1>Custom Built Website</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <a type="button" name="button">GET STARTED NOW</a>
    </div>
    <img src="../assets/imgs/Hero.png" alt="">
  </div>

  <div class="customer-love">
    <h4 class="c-love-title">Our Customers Love Us</h4>
    <div class="c-love-subtitle">
      <h1>High Quality Websites</h1><span> produce high quality results. Our customers agree!</span>
    </div>
    <div class="customer-love-cards">
      <div class="customer-card">
        <img src="" alt="customer 1">
        <h4>Name</h4>
        <em>position</em>
        <p>Magic Mirror Developers did an exceptional job of defining the problem at the outset. Their approach always helps me clear my head, focus my thoughts, and get down to the core of what I want.</p>
      </div>
      <div class="customer-card">
        <img src="" alt="customer 2">
        <h4>Name</h4>
        <em>position</em>
        <p>I feel like M|M Developers is a partner when we tackled the webapp for my business. I appreciated how they presented a full field of options, even recommended solutions with other companies. They're not about selling services, they really focus on what's best for what I'm trying to achieve.</p>
      </div>
      <div class="customer-card">
        <img src="" alt="customer 3">
        <h4>Name</h4>
        <em>position</em>
        <p>I've worked directly with James and I feel that he is genuienly listenting to my concerns, addressing each one unitl we've worked through every point. Then there's follow up and, most importantly, results.</p>
      </div>

    </div>
  </div>

  <div class="why-hand-code">
    <img src="../assets/imgs/hand-coded.png" alt="background styling">
    <div class="why-hand-code-cards-container">
      <h4 class="user-primary-color">Why You Should Get a Hand-Coded Website</h4>
      <h1>Magic Mirror Developers: get the speed of Wordpress with the quality of Custom, Hand-Built Websites</h1>
      <div class="why-hand-code-cards">
        <div class="why-hand-code-card">
          <h2>M|M Developers</h2>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
        </div>
        <div class="why-hand-code-card">
          <h2>Wordpress</h2>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
        </div>
        <div class="why-hand-code-card">
          <h2>Wix</h2>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
          <h4>SEO</h4>
          <p>something here</p>
        </div>
      </div>
      <h3>+ we take care of all your digital marketing needs</h3>

    </div>
  </div>

  <div class="how-works">
    <h3>How Does It Work?</h3>
    <div class="how-works-list-item">
      <img src="" alt="">
      <div class="">
        <h2>The Decision</h2>
        <p></p>
      </div>
    </div>
    <div class="how-works-list-item">
      <div class="">
        <h2>The Decision</h2>
        <p></p>
      </div>
      <img src="" alt="">
    </div>
    <div class="how-works-list-item">
      <img src="" alt="">
      <div class="">
        <h2>The Decision</h2>
        <p></p>
      </div>
    </div>
    <h4>But If You're Still Unsure</h4>
    <a href="#">CONTACT US</a>
    <p>Reach out to us with your questions and we'll get in touch with you within a couple hours.</p>
  </div>

  <div class="past-work">
    <h1>We Build WebApp & Websites</h1>
    <div class="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </div>

  <div class="our-partners">
    <div class="our-partners-subContainer">
      <h2>Our Partners</h2>
      <div class="our-partners-card">
        <img src="" alt="SRS Logo">
        <h5>financial analysis gurus</h5>
        <p>+30 years con't be a fluke</p>
      </div>
      <div class="our-partners-card">
        <img src="" alt="SRS Logo">
        <h5>financial analysis gurus</h5>
        <p>+30 years con't be a fluke</p>
      </div>
    </div>
  </div>

  <div class="our-ideas">
    <h1>Expanding Footprints, Online</h1>
    <p>Go Checout Our Blog!</p>
    <div class="our-ideas-card-container">
      <div class="our-ideas-card">
        <div class="our-ideas-text">
          <h3>Should I put my <span>business online?</span> </h3>
          <p>To what extent is it possible to move if not all of one's busienss activites online, more-or-less do away with the need for physical ofice space and infrastructure, or at least cut my costs significantly?</p>
          <span>CONTINUE READING</span>
        </div>
        <img src="" alt="">
      </div>
      <div class="our-ideas-card">
        <img src="" alt="">
        <div class="our-ideas-text">
          <h3><span class="text-lightblue">6 Ways To Grow Your</span> Business in 2020?</h3>
          <p>To what extent is it possible to move if not all of one's busienss activites online, more-or-less do away with the need for physical ofice space and infrastructure, or at least cut my costs significantly?</p>
          <span>CONTINUE READING</span>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us">
    <a href="#">CONTACT US!</a>
    <div class="">
      <h5>OUR MISSION</h5>
      <h5>JOIN OUR TEAM!</h5>
      <h5>FOLLOW THE M|M DEVS STORY!</h5>
      <a href="#">Click HERE!</a>
      <a href="#">team@magicmirror.dev</a>
      <div class="">
        <a href="#"><img src="" alt="Facebook"></a>
        <a href="#"><img src="" alt="Instagram"></a>
        <a href="#"><img src="" alt="LinkedIn"></a>
        <a href="#"><img src="" alt="Twitter"></a>
        <a href="#"><img src="" alt="Pinterest"></a>
      </div>
    </div>
  </div>


</div>
