.plans-container {
  padding: 4%;
}

.plans-container h1 {
  color: #FF914C;
  font-size: 2em;
}

.plans-container h1,
.plans-container p {
  margin: 3%;
}

.plans-container-group {
  display: flex;
  padding: 3%;
  margin: auto;
}

#price-man {
  position: absolute;
  width: 20%;
  top: 90%;
  z-index: -1;
}

.placeholder {
  width: 45%;
}

.plans-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px lightgray;
  margin: 1%;
  text-align: center;
}

.plans-card > * {
  margin: 5% auto;
}

.plans-card h3 {
  text-transform: uppercase;
}

.plans-card h5 {
  font-size: 2em;
  color: #4CA1FF;
}

.plans-card button {
  width: 80%;
  margin-top: 15%;
  padding: 5% 2%;
  background-color: #4CA1FF;
  color: white;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.plans-card button:hover {
  color: #3C85D7;
  box-shadow: 0 0 2px 2px #3C85D7;
  cursor: pointer;
}


.plans-card > span {
  text-transform: uppercase;
}

.plans-card em {
  text-transform: lowercase;
  display: block;
}



/*
======
CTA Section
======
*/


.cta-container {
  text-align: center;
  margin-top: 5%;
}

.cta-container h2 {
  font-size: 3em;
  padding-top: 5%;
}


.cta-container > * {
  margin: 2%;
  color: white;
}


.cta-container img {
  position: absolute;
  object-fit: cover;
  left: 0;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 400px;
}

.cta-container p {
  text-transform: capitalize;
}


.cta-container button {
  color: white;
  background-color: #4CA1FF;
  border: none;
  padding: 2% 1%;
  width: 25%;
  font-size: 1.4em;
  border-radius: 10px;
  text-transform: uppercase;
}


.cta-container button:hover {
  cursor: pointer;
  background-color: #3C85D7;
  box-shadow: 0 0 5px 5px #4CA1FF;
}
