

<div class="plans-container">
  <h1>A Price To Suit Everyone</h1>
  <p>Take a look at our packages</p>
  <div class="plans-container-group">
    <img id="price-man" src="../assets/imgs/price-man.png" alt="hand-built websites with rapid development">
    <div class="placeholder"></div>
    <div class="plans-card">
      <h3>Standard</h3>
      <h5>$399</h5>
      <span>hand coded website <em>from different templates to choose.</em> </span>
      <span>google & pixel tracking <em>with set-up</em> </span>
      <span>digital marketing <em>assessment</em> </span>
      <span>free domain name <em>for 2 years</em> </span>
      <span>hosting service <em>1 month free</em> </span>
      <button type="button" name="button">buy now</button>
    </div>
    <div class="plans-card">
      <h3>Basic</h3>
      <h5>$299</h5>
      <span>hand coded website <em>from different templates to choose.</em> </span>
      <span>google & pixel tracking <em>with set-up</em> </span>
      <span>digital marketing <em>assessment</em> </span>
      <span>free domain name <em>for 2 years</em> </span>
      <span>hosting service <em>1 month free</em> </span>
      <button type="button" name="button">buy now</button>
    </div>
    <div class="plans-card">
      <h3>complete</h3>
      <h5>$899</h5>
      <span>hand coded website <em>from different templates to choose.</em> </span>
      <span>google & pixel tracking <em>with set-up</em> </span>
      <span>digital marketing <em>assessment</em> </span>
      <span>free domain name <em>for 2 years</em> </span>
      <span>hosting service <em>1 month free</em> </span>
      <button type="button" name="button">buy now</button>
    </div>
  </div>
  <div class="cta-container">
    <img src="../assets/imgs/background-cta.png" alt="call to action">
    <h2>Not sure which plan will suit you best?</h2>
    <p>don't hesitate to contact us! We're always happy to help you :D</p>
    <button type="button" name="button">Contact Us Now</button>
  </div>
</div>


<!--
  ======
  Contact Us
  ======
-->

<app-contact></app-contact>
