<div class="contact-page-container">

<h1 class="user-primary-color">We Love Hearing From You!</h1>

<div class="contact-message">
  <img src="../assets/imgs/contact.png" alt="contact us to get started with your website project">
  <div class="contact-message-card">
    <h2>Leave us a Message!</h2>
    <p>If you have questions, ideas, or just want to say hi! Leave your contact info below and we'll be in touch shortly!</p>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="Your Name">
      <input type="email" name="" value="" placeholder="Email">
      <textarea name="name" rows="8" cols="80" placeholder="Your Message"></textarea>
      <button type="submit" name="button">Send</button>
    </form>
  </div>
</div>

<!--
  ======
  Contact Us
  ======
-->
<app-contact></app-contact>


</div>
